@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLogin";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Register</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> About </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->

<section class="w3l-content-6">
    <div class="container py-lg-5">
        <div class="content-info-in row justify-content-center">
            <div class="col-md-8">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="text-center mb-4">Create a new account</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                    <div class="mb-3">
                        <label asp-for="Input.Fullname" class="form-label">Full Name</label>
                        <input asp-for="Input.Fullname" class="form-control" autocomplete="Fullname" aria-required="true" placeholder="Enter your full name" />
                        <span asp-validation-for="Input.Fullname" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm your password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">

                        <select asp-for="Input.Role" class="btn btn-dark dropdown-toggle" type="button" aria-required="true" asp-items="@Model.Input.RoleList">
                            <option disabled selected>Select Role</option>
                        </select>
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>