@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}










<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">About Us</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> About </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /content-6-->
<section class="w3l-content-6">
    <!-- /content-6-main-->
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/images/pic1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-4">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">About Company</h6>
                        <h3 class="hny-title">
                            We are qualified &
                            of experience in this field
                        </h3>
                    </div>
                    <p class="mt-3">
                        Our journey started in 1986 when Alkaram Textile Mills was setup to provide innovative textile solutions across the globe. Soon, Alkaram Textile Mills emerged as one of the leading textile manufacturing and exporting companies of Pakistan, with a global footprint in the US, UK, France and Portugal. For more than 35 years, Alkaram’s reputation and distinctive image have been consistently developed across an expanding number of products, brands, and international markets. Currently, Alkaram Textile Mills is the largest vertically integrated textile setup in Pakistan.

                        Building on the global identity of Alkaram Textile Mills, Alkaram Studio came to life in 2010 with the idea of showcasing the depth, range and creativity of Alkaram’s Product Portfolio. With fashion fabrics and apparel to cater to the style and sartorial choices of men, women and kids, to home textiles and home-ware to accessorize your home, Alkaram Studio is the ultimate destination for the aesthetically-inclined, modern woman looking for a style language for herself, her family and her home.

                        Our global reach, breadth of product offerings, and multichannel distribution make us a unique player in the textile industry, globally, and in Pakistan.
                    </p>
                    @* <a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a> *@
                </div>
                <div class="col-lg-6 mt-5 about-right-faq align-self order2">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">Who We Are</h6>
                        <h3 class="hny-title">
                            Our Vision
                        </h3>
                    </div>
                    <p class="mt-3">
                        To be a global partner integrating vertical textile solutions with values and sustainability.

                    </p>
                    @* <a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a> *@
                </div>
                <div class="col-lg-6 mt-5 pl-lg-4">
                    <img src="~/images/vision.jpg" alt="" class="img-fluid">
                </div>


            </div>
        </div>
</section>
<!-- //content-6-->
<!-- /w3l-content-4 -->
<section class="w3l-content-4">
    <!-- /content-6-section -->
    <div class="content-4-main py-5">
        <div class="container py-lg-4">
            <div class="content-info-in row">

                <div class="content-right col-lg-6">
                    <img src="~/images/mission.png" class="img-fluid" alt="">
                </div>
                <div class="content-left col-lg-6 pl-lg-5">
                    <h6 class="sub-title">
                        Reable Features
                    </h6>
                    <h3 class="hny-title">
                        Our Mission
                    </h3>
                    <p class="mt-3">
                        To be a leading textile company delivering Stakeholders' value by being a Preferred Partner for Customers, Suppliers and Society through innovative, efficient and sustainable teams and processes.
                    </p>

                    @*<div class="content-4-bottom">
                    <div class="content4-right-grids mb-md-0 mb-4">

                    <div class="content4-right-info">
                    <h6><a href="#">Our Stories</a></h6>
                    <p>Lorem ipsum dolor sit amet,facere aperiam.</p>
                    </div>

                    </div>
                    <div class="content4-right-grids mb-md-0 mb-4">

                    <div class="content4-right-info">
                    <h6><a href="#">Our Mission</a></h6>
                    <p>Lorem ipsum dolor sit amet,facere aperiam.</p>
                    </div>

                    </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //content-6-section -->
<!-- //extra work-->
<!--//content-5-->
<div class="w3l-content-5 py-5">
    <div class="container py-lg-4">
        <h3 class="hny-title mb-3">Our Values</h3>
        <div class="row content-5-grids">
            <div class="col-lg-3 col-md-6 content-5-one">
                <div class="content5-gd-ingf">
                    <div class="icon-holder mb-3">
                        <span class="fa fa-users service-icon" aria-hidden="true"></span>
                    </div>
                    <h4>Respect</h4>
                    <p>
                        <b>Collaboration:</b> Builds constructive working relationships characterized by a high level of acceptance, cooperation, and mutual respect.
                        <b>Integrity:</b> Gains the trust of others by taking responsibility for own actions and telling the truth.
                    </p>
                    @*<a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-6 content-5-one">
                <div class="content5-gd-ingf">
                    <div class="icon-holder mb-3">
                        <span class="fa fa-heart-o service-icon" aria-hidden="true"></span>
                    </div>
                    <h4>Agility</h4>
                    <p>
                        <b>Efficiency:</b> Instrumental in resource optimized utilization of resources to attain maximum productivity.
                        <b>Continuous Learning:</b> Builds professional skills and competencies and improves work processes.
                    </p>
                    @*<a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-6 content-5-one">
                <div class="content5-gd-ingf">
                    <div class="icon-holder mb-3">
                        <span class="fa fa-handshake-o service-icon" aria-hidden="true"></span>
                    </div>
                    <h4>Customer Centricity</h4>
                    <p>
                        <b>Strategic Insight:</b> Uses an understanding of competitive position to develop both short and long term strategy.<br />
                        <b>Decision Making:</b> Makes decisions in a timely manner.
                    </p>
                    @*<a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-6 content-5-one">
                <div class="content5-gd-ingf">
                    <div class="icon-holder mb-3">
                        <span class="fa fa-handshake-o service-icon" aria-hidden="true"></span>
                    </div>
                    <h4>Innovability</h4>
                    <p>
                        <b>Innovation:</b> Fosters and initiates new ideas, methods and solutions.
                        <b>Sustainability:</b> Places huge value on ethical and environmental practices.
                    </p>
                    @*<a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>*@
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="w3l-content-5 py-5">

        <div class="container py-lg-4">
            <h3 class="hny-title mb-3">
                Our Values
            </h3>
            <div class="row content-5-grids">

                <div class="col-lg-4 col-md-6 content-5-one">

                    <div class="content5-gd-ingf">

                        <div class="icon-holder mb-3">
                            <span class="fa fa-users service-icon" aria-hidden="true"></span>
                        </div>
                        <h4>Respect</h4>
                        <p>Lorem illum facere aperiam s, suscipit totam animi consequatur saepe blanditiis</p>
                        <a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 content-5-one">
                    <div class="content5-gd-ingf">
                        <div class="icon-holder mb-3">
                            <span class="fa fa-heart-o service-icon" aria-hidden="true"></span>
                        </div>
                        <h4>Agility</h4>
                        <p>Lorem illum facere aperiam seq suscipit totam animi consequatur saepe blanditiis</p>
                        <a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 content-5-one">
                    <div class="content5-gd-ingf">
                        <div class="icon-holder mb-3">
                            <span class="fa fa-handshake-o service-icon" aria-hidden="true"></span>
                        </div>
                        <h4>
                            Customer Centricity
                        </h4>
                        <p>Lorem illum facere aperiam sequi, suscipit totam animi consequatur saepe blanditiis</p>
                        <a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 content-5-one">
                    <div class="content5-gd-ingf">
                        <div class="icon-holder mb-3">
                            <span class="fa fa-handshake-o service-icon" aria-hidden="true"></span>
                        </div>
                        <h4>
                            Innovability
                        </h4>
                        <p>Lorem illum facere aperiam sequi , suscipit totam animi consequatur saepe blanditiis</p>
                        <a href="services.html" class="btn btn-style btn-primary mt-4">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--//content-5-->
<!-- team -->
<section class="w3l-team-main py-5" id="team">
    <div class="container py-lg-4">
        <div class="title-content text-center mb-lg-5 mb-4">
            <h6 class="sub-title">Our Management</h6>
            <h3 class="hny-title">Meet Our Leadership</h3>
        </div>
        <div class="row inner-sec-w3layouts-w3pvt-lauinfo">
            <div class="col-md-3 col-6">
                <div class="team-grids text-center">
                    <img src="~/images/fawad.jpg" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <h4>Fawad Anwar</h4>
                            <h6>CEO</h6>
                        </div>
                    </div>
                </div>
                @*<div class="social-icons-section text-center">
                <a class="fac" href="#url">
                <i class="fa fa-facebook"></i>
                </a>
                <a class="twitter" href="#url">
                <i class="fa fa-twitter"></i>
                </a>
                </div>*@
            </div>
            <div class="col-md-3 col-6">
                <div class="team-grids text-center">
                    <img src="~/images/ali.jpeg" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <h4>Ali Fawad</h4>
                            <h6>Director</h6>
                        </div>
                    </div>
                </div>
                @*<div class="social-icons-section text-center">
                <a class="fac" href="#url">
                <i class="fa fa-facebook"></i>
                </a>
                <a class="twitter" href="#url">
                <i class="fa fa-twitter"></i>
                </a>
                </div>*@
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-4">
                <div class="team-grids text-center">
                    <img src="" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <h4>Shafi Sajid</h4>
                            <h6>Director</h6>
                        </div>
                    </div>
                </div>
                @*<div class="social-icons-section text-center">
                <a class="fac" href="#url">
                <i class="fa fa-facebook"></i>
                </a>
                <a class="twitter" href="#url">
                <i class="fa fa-twitter"></i>
                </a>
                </div>*@
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-4">
                <div class="team-grids text-center">
                    <img src="" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <h4>Salik Sajid</h4>
                            <h6>Director</h6>
                        </div>
                    </div>
                </div>
                @*<div class="social-icons-section text-center">
                <a class="fac" href="#url">
                <i class="fa fa-facebook"></i>
                </a>
                <a class="twitter" href="#url">
                <i class="fa fa-twitter"></i>
                </a>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!-- team -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>