@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Applications</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Applications </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!--/services-sec-->
<div class="w3-services py-5">
    <div class="container py-lg-4">
        @*<div class="title-content text-left mb-lg-5 mb-4">
        <h6 class="sub-title">Our Applications</h6>
        <h3 class="hny-title">Great Applications</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit hic odio.</p>

        </div>*@
        <div class="row w3-services-grids">
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="http://erp.alkaram.com:8000/" target="_blank"><img src="~/images/images.png" class="img-fuild" alt=""></a>
                    <a href="http://erp.alkaram.com:8000/" class="cause-title-wrap" target="_blank">
                        <h4 class="cause-title">
                            Oracle EBS
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open with Explorer or Edge)
                    </p>

                    <a href="http://erp.alkaram.com:8000/" class="btn btn-style btn-primary mt-4" target="_blank">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="http://custapp.alkaram.com/forms/frmservlet?config=apps_live_reg" target="_blank"><img src="~/images/images1.png" class="img-fuild" alt=""></a>
                    <a href="http://custapp.alkaram.com/forms/frmservlet?config=apps_live_reg" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Human Resource Management System &amp; GatePass
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open with Explorer or Edge)
                    </p>

                    <a href="http://custapp.alkaram.com/forms/frmservlet?config=apps_live_reg" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="http://custapp.alkaram.com/forms/frmservlet?config=PORTAL_EMP" target="_blank"><img src="~/images/images5.jpeg" class="img-fuild" alt=""></a>
                    <a href="http://custapp.alkaram.com/forms/frmservlet?config=PORTAL_EMP" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Employee Self Service
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open with Explorer or Edge)
                    </p>

                    <a href="http://custapp.alkaram.com/forms/frmservlet?config=PORTAL_EMP" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/cp/" target="_blank"><img src="~/images/images12.jpg" class="img-fuild" alt=""></a>
                    <a href="/cp/" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Communication Form
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>


                    <a href="/cp/" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/rci/" target="_blank"><img src="~/images/images15.png" class="img-fuild" alt=""></a>
                    <a href="/rci/" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Resign Clearance and Exit Interview
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>

                    <a href="/rci/" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/ECP" target="_blank"><img src="~/images/images16.jpg" class="img-fuild" alt=""></a>
                    <a href="/ECP" class="cause-title-wrap" target="_blank">
                        <h4 class="cause-title">
                            Employee Confirmation Portal
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>

                    <a href="/ECP" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/TA/" target="_blank"><img src="~/images/images17.jpg" class="img-fuild" alt=""></a>
                    <a href="/TA/" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Talent Acquisition Portal
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>

                    <a href="/TA/" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/vms/" target="_blank"><img src="~/images/image20.png" class="img-fuild" alt=""></a>
                    <a href="/vms/" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Vehicle Management System
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>

                    <a href="/vms/" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/DCR/" target="_blank"><img src="~/images/dcr.png" class="img-fuild" alt=""></a>
                    <a href="/DCR/" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Document Change Request
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>

                    <a href="/DCR/" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/AKPool/" target="_blank"><img src="~/images/carpool.png" class="img-fuild" alt=""></a>
                    <a href="/AKPool/" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Travelling Companion
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>

                    <a href="/AKPool/" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 causes-grid">
                <div class="causes-grid-info">
                    <a href="/Tlms/" target="_blank"><img src="~/images/lms.png" class="img-fuild" alt=""></a>
                    <a href="/Tlms/" target="_blank" class="cause-title-wrap">
                        <h4 class="cause-title">
                            Training and Learning Management System
                        </h4>
                    </a>
                    <p class="card-text mb-0">
                        (Open in Chrome or Firefox)
                    </p>

                    <a href="/Tlms/" target="_blank" class="btn btn-style btn-primary mt-4">Open</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//services-sec-->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
